git+https://github.com/Amarillia31/orm_client.git
git+https://github.com/Amarillia31/restclient.git
git+https://github.com/Amarillia31/db_client.git
git+https://github.com/Amarillia31/dm_api_account.git
requests==2.31.0
pytest==8.0.0
structlog==24.1.0
curlify==2.2.1
pydantic==2.6.1
datamodel-code-generator[http]
pyhamcrest==2.1.0
records==0.5.3
SQLAlchemy==1.4.52
vyper-config==1.2.1
sqlacodegen==2.3.0.post1
psycopg2==2.9.9
allure-pytest==2.13.3
